name: Deploy JupyterBook to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        pip install -r data-analyst-roadmap/requirements_docs.txt
        python -m ipykernel install --user --name python3 --display-name "Python 3"

    - name: Build the book
      run: |
        # Build the book from source with verbose logging
        jupyter-book build data-analyst-roadmap --path-output data-analyst-roadmap/_build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: data-analyst-roadmap/_build/html
